/* You can add global styles to this file, and also import other style files */
body{
    background: url(assets/cover.jpg) no-repeat center center fixed;
    background-size: cover;
}

.hero {
    color: #fff; 
    margin-top: 20%;
    text-align: center;
    font-size: 75px;
    letter-spacing: 0.05em;
    font-family: 'Josefin Sans', sans-serif;
}

.hero2 {
    color: #fff; 
    margin-top: 5%;
    text-align: center;
    font-size: 50px;
    letter-spacing: 0.05em;
    font-family: 'Josefin Sans', sans-serif;
}

.hero3 {
    color: #fff; 
    margin-top: 1%;
    text-align: center;
    font-size: 30px;
    letter-spacing: 0.05em;
    font-family: 'Josefin Sans', sans-serif;
}